name: Build resetti

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20.3"

      - name: Build resetti
        run: make build

      - name: Get release info
        id: tag
        run: echo "::set-output name=tag::$(git describe --tags --abbrev=0)"

      - name: Publish release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "resetti,bench"
          name: ${{ steps.tag.outputs.tag }}
          tag: ${{ steps.tag.outputs.tag }}
          token: ${{ secrets.GITHUB_TOKEN }}
